.breed-picker-container {
    
    .breed-picker-row {
        display: grid;
        grid-template-columns: minmax(0, 15vw) minmax(0, 15vw) 60px 60px;
        gap: 15px;
        align-items: center;
        margin-bottom: 15px;
    }
}
