.images-modal-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 20;

    > .images-modal-content-wrapper {
        width: 80%;
        height: 80%;
        margin: 10vh 10vw;
        padding: 30px;
        background-color: #555;
        display: flex;
        flex-wrap: wrap;
        overflow: auto;
        align-items: flex-start;
        justify-content: space-between;
    }

    .dog-image {
        max-width: 300px;
        margin-bottom: 20px;
    }
}
