$header-height: 80px;
$horizontal-padding: 20px;

#root {
  overflow: hidden;
  height: 100%;
}

.App {
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: $header-height 1fr;

  > header {
    background-color: #eaeaea;
    padding: 0 $horizontal-padding;

    > h1 {
      line-height: $header-height;
    }
  }

  > main {
    height: 100%;
    overflow: auto;
    padding: 30px $horizontal-padding;
  }
}
